@page "/about"

<h1>Perchè ab.buffet?</h1>

<div>Una sera i nostri eroi, ritrovatisi al desco <span style="text-decoration: line-through">cin</span> <span style="text-decoration: line-through">giap</span> diversamente orientale dopo una dura (?) giornata (??) di lavoro(???), si ritrovarono di fronte a una prova impari:</div>
    <div style="text-decoration: underline">ricordarsi chi di loro aveva ordinato cosa!</div>
    <div>Al ventordicesimo <a href="https://www.soniaperonaci.it/bao-buns/">Bao</a> recapitato al tavolo hanno capito che era tempo di trovare una soluzione.<br/>
    Soluzione arrivata come un lampo dal cielo, o meglio come una grappa al bambù servita da John Woo (rima, please): ab.buffet!
</div>

<h2>Come si usa?</h2>
<div>
    <ol>
    <li>Crea il tuo tavolo dandogli un nome originale.</li>
    <li>Vai online e condividi il link del tavolo con tutti i commensali (opzionale!)</li>
    <li>Aggiungi le ordinazioni per tutti nel formato Persona - Piatto (codice!), oppure lascia che ognuno aggiunga le sue (se il tavolo è online)</li>
    <li>Quando arriva il cameriere, passa alla vista per piatti e ordina in una volta sola!</li>
    <li>Quando arrivano i piatti, controlla chi li ha ordinati dalla vista per piatti e segnali come consegnati - in questo modo non dovrete più litigarvi l'ennesimo hosomaki fritto arrivato!</li>
    <li>Elimina i tavoli (quando hai finito) o i piatti (quando non hai più fame e vuoi evitare di nasconderli nei vasi delle piante vicino al tavolo! - <span>tratto da una storia vera</span>)</li>
    <li>Puoi chiudere e riaprire il sito ogni volta che vuoi! I tuoi dati non andranno persi! - it's a kind of magic (⌐■_■)</li>
    </ol>
</div>

<h3>Ringraziamenti</h3>
<div>
    In ordine alfabeticasuale:
    <ul>
        <li>Chry</li>
        <li>Dani</li>
        <li>Teo</li>
        <li>He-Man</li>
        <li>Parenti</li>
        <li>il ristorante Kurasushi</li>
        <li>il primo essere umano che ha avuto la brillante idea di distillare il bambù</li>
        <li>Mel Brooks per Frankenstein Junior ("Ab...norme")</li>
        <li>Tommaso</li>
    </ul>
</div>